<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>

<%- include(views+'/head.html') %>
	<script type="text/javascript" src="index.js"></script>
	<script type="text/javascript" src="utils.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<%- include(views+'/pre.html') %>

<div id="controls" class="flex">
	<div class="bubble inline">
		<div class="space">
			<button id="door"></button>
			<button id="leave">Leave</button>
			<button id="reset">Start Over</button>
			<button id="shuffle">Shuffle</button>
			<button id="flip">Flip</button>
			<button id="cheat">Cheat</button>
		</div>
		<div class="space">
			<span>Minimum Word Length: </span>
			<input id="word_length" class="control_number" type="number" autocomplete="off" value="4">
		</div>
		<div class="space">
			<span>Grace Period Seconds: </span>
			<input id="grace_period" class="control_number" type="number" autocomplete="off" value="3">
		</div>
	</div>
	<div class="bubble inline">
		<p>Current Player: <span id="current_player"></span></p>
		<p>Remaining: <span id="remaining"></span></p>
	</div>
</div>
<form id="submit" class="bubble inline">
	<input id="word" type="text" autocomplete="off">
	<input disabled type="submit">
</form>
<div class="bubble">
	<p>Board:</p>
	<div id="board" class="flex"></div>
</div>
<div class="bubble">
	<p>Players:</p>
	<div id="players" class="flex"></div>
</div>
<div id="cheats_div" class="bubble" hidden>
	<p>CHEATS:</p>
	<div id="cheats" class="bubble inline"></div>
</div>

<%- include(views+'/post.html') %>
